PORT=8080
NODE_ENV=development

#this is example dont use this


# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_L5WCk1VUcaob@ep-round-base-a1h5aixf-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Auth Secret
BETTER_AUTH_SECRET=5292eca4dfad86b986fd0f79a03ceb9555b65400a3566db499ef138690646c22

GOOGLE_CLIENT_ID = 1092471410820-6fpps7c1p2nuj5k5cq91jb55a1g54adu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRECT = 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